.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    
}

.image-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.image-container img {
    max-width: 150px;
    height: 150px;
    
}

.text {
    margin-left: 10px;
    margin-bottom: 20px;
}


.image-text {
    margin-left: 20px;
}

.text-right {
    width: 100%;
    margin-left: 20px; 
    padding: 0;
}

.text-right li {
    margin-bottom: 5px; 
    word-wrap: break-word;
}

.bold {
    font-weight: bold; 
    
}

.bottom-text {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.text-left{
    width: 45%;    
    padding-left: 10px;
    margin-left: 5px;
}

.text-left li, .text-right li {
    margin-bottom: 10px; 
}


.box{
    width: 100%;
    border: 2px solid black;
}

p{
    margin-left: 10px;
}



.hidden {
    list-style-type: none;
}